@page "/htmlbuilder"
@using BlazorHtmlEditor
<h1>Html editor</h1>
<hr />
<BlazorHtmlEditor.HtmlEditor></BlazorHtmlEditor.HtmlEditor>
<hr />
<BlazorHtmlEditor.HtmlEditor FullEditor="false"></BlazorHtmlEditor.HtmlEditor>